.contact {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 3px;
  }
  
 