.needyPeople {
    margin-top: 20px;
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #cccccc;
  }
  
  .image {
    margin-top:1rem;
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Apply a circular border */
  }
  
  .needyPeople h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .needyPeople ul {
    list-style-type: none;
    padding: 0;
  }
  
  .needyPeople li {
    margin-bottom: 20px;
  }
  
  .needyPeople p {
    margin: 0;
    font-size: 16px;
  }
  