.needyPeople {
    margin-top: 20px;
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #cccccc;

  }
  
  .image {
    margin-top:1rem;
    width: 200px; 
    height: auto; 
    border-radius:70%; 
  }
  
  .needyPeople ul {
    list-style-type: none;
    padding: 0;
  }
  
  .needyPeople li {
    margin-bottom: 20px;
  }
  
  .needyPeople p {
    margin: 0;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
  }
  